@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: blue;
    height: 100vh;
    width: 100wv;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 626px;
    width: 310px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

section#redes-sociais {
    text-align: right;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 23px;
    width: 266px;
    height: 471px;
}

img#home {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
}

img#youtube {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
}

img#github {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
}
img#instagram {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
}

img#twitter {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
}

img#facebook {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
}